body {
    margin:0;
    text-align:center;
    padding-top:700px;
}

#home {
    background:linear-gradient(#54beff 0%,#f03e3e 100%); 
    height:700px;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    position:absolute;
    overflow:hidden;
    font-size:30px;
    z-index:9;
}

#intro {
    background:linear-gradient(#00ff00 0%, #ae00ff 100%);
    padding:60px;
    margin:30px auto;
    width:700px;
    font-size:25px;
}
    
img {
    width:300px;
    margin-top:90px;
    border-bottom-left-radius:30px;
    border-top-right-radius:40px;
    border-style:outset;
    border-left-color: darkviolet;
    border-top-color: darkviolet;
    border-right-color: #00fff7;
    border-bottom-color: #00fff7;
    border-width:7px;
    padding:3px;
}

.line {
    background-color:black;
    height:5px;
    width:115px;
    margin:25px auto;
}

.menu {
    z-index:10;
    list-style:none;
    position:fixed;
    top:10px;
    left:500px;
    cursor:pointer;
}

.item {
    float:left;
    font-family: 'Poppins', sans-serif;
    font-size:23px;
    margin-left:20px;
    padding:10px;
}

.item:hover {
    background:linear-gradient(#00ff00 0%, #ae00ff 100%);
    font-size:30px;
}

#writings a {
    font-size:30px;
}